# Packaging artifacts
*.egg
*.egg-info
*.gz
*.deb
*.changes
*.dsc
*.upload
dist
build
eggs
sdist
MANIFEST

# Unit test artifacts
.coverage
.tox
nosetests.xml

# Runtime artifacts
*.py[cod]

# Development artifacts
venv
